* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.container {
  padding: 1rem;
  width: 100%;
  max-width: 1400px;
}

.image {
  margin: 0.5rem 0px;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
}

span {
  color: #337ab7;
}
h2 {
  color: blue;
  margin-bottom: 5px;
}
main {
  margin-top: 1rem;
}

.contact {
  margin-top: 1rem;
}

.links {
  margin-top: 1rem;
}

ul {
  margin-top: 5px;
}

ul li {
  margin-bottom: 10px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}
@media screen and (min-width: 960px) {
  .container {
    width: 100%;
    display: flex;
    gap: 5%;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0%;
    text-align: center;
  }
}
