body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f0f0f0;
  padding-top: 10px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px; /* Adjust as needed */
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover; /* Maintain aspect ratio */
  margin: 0 auto 15px; /* Center the image */
  display: block;
}

.info {
  text-align: center;
}

.info h2 {
  margin-bottom: 3px;
}

.info p {
  margin-bottom: 10px;
}

.social-links {
  text-align: left;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.social-links a {
  margin: 0 10px;
  color: #333; /* Example color */
  text-decoration: none; /* Remove underlines */
  padding: 8px;
  font-size: small;
  background-color: blue;
  border-radius: 5px;
  color: white;
}

#current-time {
  margin-top: 15px;
  text-align: center;
}

/* Responsive Design - Example */
@media (max-width: 400px) {
  .card {
    width: 90%; /* Make card almost full width on smaller screens */
    padding: 15px;
  }
  .profile-image {
    width: 120px;
    height: 120px;
  }
}
